@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Adicione estas regras para garantir que o texto seja preto por padrão */
body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea, select {
  color: black;
}

/* Se você quiser manter alguns elementos com cores específicas, você pode sobrescrever aqui */
.text-white {
  color: white !important;
}

.text-gray-500 {
  color: #6b7280 !important;
}

/* Adicione outras classes de cor conforme necessário */
